* {
    -fx-primary : #34ACE2;
            /*derive(#61bfd7, 20%);*/
    -fx-secondary : white;
    -fx-primarytext : black;
    -fx-blue: #0893d2;
    -fx-tree-table-color: derive(#9ed1d7, 10%);
    /*-fx-red: #FF0000;*/
    /*-fx-color-1:#1976D2;*/
}

.root{
    -fx-background-color: -fx-primary;
}

.button{
    -jfx-button-type: FLAT;
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 12pt;
    -fx-pref-width: 160px;
}

.button:hover{
/*.button:focused*/
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-text-fill: -fx-primary;
}


.text-field
{
    -fx-text-fill: black;;
    -fx-font-size : 18pt;
    -jfx-focus-color: -fx-secondary;
    /*-fx-text-fill: derive(-fx-blue, 5%);*/
}

.label{
    -fx-text-fill:-fx-primarytext;
}

.tree-table-view {
    -fx-tree-table-color: rgba(5, 7, 210, 0.2);
    -fx-tree-table-rippler-color: rgba(10, 39, 255, 0.4);
}

.tree-table-view .jfx-text-field{
    -fx-background-color: transparent;
}

.tree-table-view .menu-item:focused {
    -fx-background-color: -fx-tree-table-color;

}

.tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

/*.scroll-bar {*/
    /*-fx-background-color: transparent;*/
    /*-fx-border-color: transparent;*/
    /*-fx-background-radius: 0em;*/
    /*-fx-border-radius: 2em;*/
/*}*/

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

/* The increment and decrement button CSS class of scrollbar */
.scroll-bar:horizontal .increment-button,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

/* The increment and decrement button CSS class of scrollbar */

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;

}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: derive(grey, 30%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}