* {
    -fx-primary : derive(#61bfd7, 20%);
    -fx-secondary : white;
    -fx-primarytext : black;
    -fx-blue: #0893d2;
    -fx-tree-table-color: derive(#9ed1d7, 10%);
    /*-fx-red: #FF0000;*/
    /*-fx-color-1:#1976D2;*/
}

.root{
    -fx-background-color: -fx-primary;
}

.button{
    -jfx-button-type: FLAT;
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: white;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
    -fx-font-size: 12pt;
    -fx-pref-width: 160px;
}

.button:hover{
/*.button:focused*/
    -fx-border-color: white;
    -fx-background-color: white;
    -fx-text-fill: -fx-primary;
}


.text-field
{
    -fx-text-fill: -fx-primarytext;
    -fx-font-size : 12pt;
    -jfx-focus-color: -fx-secondary;
    -fx-text-fill: derive(-fx-blue, 5%);
}

.label{
    -fx-text-fill:-fx-primarytext;
}

.tree-table-view {
    -fx-tree-table-color: rgba(5, 7, 210, 0.2);
    -fx-tree-table-rippler-color: rgba(10, 39, 255, 0.4);
}

.tree-table-view .jfx-text-field{
    -fx-background-color: transparent;
}

.tree-table-view .menu-item:focused {
    -fx-background-color: -fx-tree-table-color;

}

.tree-table-view .menu-item .label {
    -fx-padding: 5 0 5 0;
}

.scroll-bar {

}